<div class="text-center main mt-5">
    <nav aria-label="Page navigation example" style="position: relative;bottom: 50px;">
      <ul class="pagination justify-content-center mt-4">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li *ngFor="let page of [].constructor(paginado.pages); let i=index"
         class="page-item"
         [ngClass]="{active:(i+1) === paginado.page}"
          ><a class="page-link" (click)="changePagina(i+1)">{{i+1}}</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
