export PORT = 5000
export DATABASE_PATH = '/path/absoluto/'
export DATABASE_NAME = 'poema_app.db'

#jwt configuration
export JWT_SECRET_KEY ='G9879LOLCSGO1234'
export JWT_ACCESS_TOKEN_EXPIRES = 3600

#Mail configuration
#Mail Server adress
export MAIL_SERVER = 'smtp.gmail.com'
export MAIL_PORT = '587'
export MAIL_USE_TLS = 'True'
export MAIL_USERNAME = 'franespinola12345@gmail.com'
export MAIL_PASSWORD = 'ljqntxhxyyxztkjo'
#Mail FROM name
export FLASKY_MAIL_SENDER = 'App Name Admin <admin@appname.com>'