@font-face {
    font-family: Portoluce;
    src: url(/frontend/fonts/Portoluce\ Regular.ttf);
}

body {
    background: hsla(226, 36%, 57%, 0.604);
    background-image: url(/frontend/img/flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    font-family: Portoluce;
}

.filtro {
    position: relative;
    bottom: 30px;
}

.dropdown {
    text-align: center;
}

.card-home {
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 450ms;
    box-shadow: 0px 1px 8px 0px #000000;
}

.card-home:hover {
    position: relative;
    bottom: 15px;
    box-shadow: 5px 5px 5px 5px #49419152;
    transition: .5s;
    margin-top: 5px;
    margin-left: 5px;
}

.main {
    margin-top: 50px;
    max-height: 50px;
    margin-bottom: 70px;
    max-height: fit-content;

}

.puntaje {
    color: rgb(48 46 46);
    font-size: 11px;
    padding-left: 8px;
}

footer {
    font-family: 'Roboto';
    font-weight: 400;
    color: rgb(136, 135, 135);
}

footer p {
    min-width: 360px;
}

.navbar {
    padding-inline-start: 200px;
    padding-inline-end: 200px;
    box-shadow: 2px 2px 2px 2px rgba(53, 52, 52, 0.267);
}

.logo {
    width: 35px;
}

.search-input {
    min-width: 95px;
}

.nav-min {
    min-width: 240px;
}

.flex-padding {
    padding: 50px 100px 0px 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
}

.shadow-nav {
    box-shadow: 0px 1px 8px 3px #000000;
}

.navbar_height {
    height: 70px;
}

.navbar_pad {
    padding-top: 22px;
}

.btn_poema {
    background-color: #4f48af;
    color: white;
}

.btn_poema:hover {
    background-color: #5b69e9 !important;
    color: white !important;
}

.card-header {
    padding-left: 67px;
    background: #c8caeb;
}

.fixed-bottom {
    position: inherit
}

input::placeholder {
    color: rgb(143, 124, 160) !important;

}

.dropdown-item-home {
    text-align: left;

}

@media(max-width:1050px) {
    .card-width {
        width: 350px;
    }

    .dropdown-home {
        margin-top: 50px
    }

}

@media(max-width:767px) {
    .navbar_pad {
        position: relative;
        bottom: 10px;
    }

    .boton-header {
        position: relative;
        bottom: 5px;
    }

    .shadow-nav {
        padding: 10px 10px 10px;
    }
}