.navbar_hide{
   display: none;
}
.sombra_contenedor{
    box-shadow: 0px 0px 20px 8px;
}
.btn-editar{
    background-color: #4f48af;
    color: white
}
.btn-editar:hover {
    background-color: #5b69e9 !important;
    color: white !important;
}
.nav-min{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    gap: 75%;
    align-items: flex-end;
}
.logo-profile{
    position: relative;
    top: 5px;
    font-size: 50px;
    color: #4f48af;
    cursor: pointer;
}
.navbar_pad{
    position:static;
   
}
@media(max-width:1200px){
    .nav-min{
        display: flex;
        flex-direction: inherit;
        font-size: 14px;
    }
}
@media(max-width:767px){
    .nav-min{
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .boton-header{
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
}