<div class="card card-home">
    <div class="card-header">Autor<i class="fa-solid fa-star"
        style="cursor: pointer; float: right; color:orange; text-shadow: black 0px 0px;">
        <font class="puntaje">7.5</font>
      </i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus, urna vitae
        vestibulum consectetur, orci nunc malesuada mauris, sed dapibus nulla felis et erat. Morbi hendrerit
        lectus porttitor, suscipit velit ut, condimentum velit. </p>
      <a href="poemas" class="btn btn_poema">Ver poema</a>
    </div>
</div>
