.navbar {
    padding-inline-start: 200px;
    padding-inline-end: 200px;
    box-shadow: 2px 2px 2px 2px rgba(53, 52, 52, 0.267);
}
.search-input {
    min-width: 200px;
}

.nav-min {
    min-width: 240px;
}
.shadow-nav {
    box-shadow: 0px 1px 8px 3px #000000;
}

.btn-cerrar{
    min-width: 110px;
}

.btn-buscar{
    min-width: 200px;
}
/* .usuarios_estilo{

}
.usuarios_estilo:hover{
 
} */

.btn{
    min-width: 100px
}
.navbar_pad {
    padding-top: 22px;
}
input::placeholder {
    color: rgb(143, 124, 160) !important;

}

@media(max-width:900px) {
   .navbar{
        display:flex;
        flex-wrap: wrap;
   }
   
}

@media(max-width:767px) {
    .navbar{
        display:flex;
        flex-wrap: wrap;
   }

    .navbar_pad {
        position: relative;
        bottom: 10px;
    }

    .boton-header {
        position: relative;
        bottom: 5px;
    }

    .shadow-nav {
        padding: 10px 10px 10px;
    }
}