    <app-header></app-header>
    <div class="container tabla-admin">
            <div class="navbar navbar-expand-sm navbar-dark navbar-position navbar-size p-4">
                <a href="#" class="link-primary text-decoration-none d-flex letra-tamano"><span
                        class="material-symbols-rounded agregar-tamano">note_add</span>Nuevo poeta</a>
                <form class="form-inline form-content" action="/action_page.php">
                    <input class="form-control mr-sm-2 input-size" type="text" placeholder="Search">
                    <button class="btn-size" type="submit">Search</button>
                </form>
            </div>
            <table class="table align-middle table-md tabla-admin-align table-striped table-bordered">
            <thead class="table col-color">
                <th scope="col" class="col-chica">ID</th>
                <th scope="col" class="col-normal">Nombre</th>
                <th scope="col" class="col-normal">Email</th>
                <th scope="col" class="col-chica">Cantidad Poemas</th>
                <th scope="col" class="col-chica">Cantidad Calificaciones</th>
                <th scope="col" class="col-iconos"></th>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Larry the Bird</td>
                    <td>@twitte</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="#"><span class="material-symbols-outlined cursor">edit</span></a><a href="#"
                            class="separacion"><span class="material-symbols-outlined cursor">delete</span></a></td>
                </tr>
            </tbody>
        </table>
        <app-page-navig-admin></app-page-navig-admin>
    </div>
    <app-footer></app-footer>
  
