body {
    height: 1100px;
    background-image: url(/frontend/img/flowers.jpg); 
}

.tabla-admin {
    margin-top: 5%;
    padding-bottom: 140px;

}

.tabla-admin-align {
    text-align: center;
    background-color: white;
}

.col-color {
    background: #4f48af;
    color: white;
}

.page-color {
    background: #4f48af;
}

.btn-size {
    margin-left: 10px;
    background-color: #4f48af;
    border-color: #4f48af;
    border-radius: 10px 10px 10px;
    color: white;
}

.btn-size:hover {
    background-color: #5b69e9;
}

.navbar-size {
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 5px 0px;
    background-color: white;
}

.input-size {
    width: 400px;
    margin-left: auto;
}

.col-normal {
    width: 300px;
}

.col-iconos {
    width: 85px;
}

.col-chica {
    width: 30px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48,
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL'1,
        'wght'700,
        'GRAD'0,
        'opsz'48
}

.cursor {
    cursor: pointer;
}

.separacion {
    margin-left: 15px;
}

.agregar-tamano {
    font-size: 30px;
}

.letra-tamano {
    font-size: 15px;
    font-family: 'Roboto'
}

.form-content{
    display: contents;
}
.my-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.my-button:active {
    background-color: #0056b3;
    color: #f5f5f5;
}

.my-button.true {
    background-color: green;
}
  
.my-button.false {
    background-color: red;
}
  



@media(max-width:991px) {
    .col-iconos {
        min-width: 100px;
        width: 100px;
    }
}
@media(max-width:768px){
   .navbar-size{
        min-width: 114%;
   }
}
@media(max-width:517px) {
    .input-size {
       position: relative;
       margin-right: 50px;
       top: 15px;
       
    }
    .btn-size{
        position: relative;
        left: 86%;
        bottom: 20px;
    }
    .letra-tamano{
        position: relative;
        top:15px;
    }
}
@media(max-width:551px) {
    .input-size {
        width: 60%;
    }
}




