<div class="container tabla-admin">
    <div class="navbar navbar-expand-sm navbar-dark navbar-position navbar-size p-4">
        <a href="#" class="link-primary text-decoration-none d-flex letra-tamano" data-bs-toggle="modal"
            data-bs-target="#modalNuevoPoeta"><span class="material-symbols-rounded agregar-tamano"
                disabled>note_add</span>Nuevo poeta</a>
        <form class="form-inline form-content" (ngSubmit)="buscarUsuarios(termino.value)" action="/action_page.php">
            <input class="form-control mr-sm-2 input-size" type="text" placeholder="Search" #termino>
            <button class="btn-size" type="submit">Buscar</button>
        </form>
    </div>
    <table class="table align-middle table-md tabla-admin-align table-striped table-bordered">
        <thead class="table col-color">
            <th scope="col" class="col-chica">ID</th>
            <th scope="col" class="col-normal">Nombre</th>
            <th scope="col" class="col-normal">Email</th>
            <th scope="col" class="col-chica">Cantidad Poemas</th>
            <th scope="col" class="col-chica">Cantidad Calificaciones</th>
            <th scope="col" class="col-iconos"></th>
        </thead>
        <!--ng for para recorrer los arreglos de usuario-->
        <tbody class="table-group-divider" *ngFor="let usu of arrayUsuarios">
            <tr>
                <!--atributos del arrayUsuarios-->
                <th scope="row">{{usu.id}}</th>
                <td>{{usu.nombre}}</td>
                <td>{{usu.email}}</td>
                <td>{{usu.poemas_cant}}</td>
                <td>{{usu.calificaciones_cant}}</td>

                <!--en el boton de edit, redirige a un usuario en particular-->
                <td><a><span class="material-symbols-outlined cursor" routerLink="/user/{{usu.id}}">edit</span></a><a
                        href="#" class="separacion"><span class="material-symbols-outlined cursor"
                            (click)="deleteUsuario(usu.id)">delete</span></a></td>

            </tr>
        </tbody>
    </table>
    <app-page-navig-admin></app-page-navig-admin>
</div>

<!---modal-->
<div class="modal fade" id="modalNuevoPoeta" tabindex="-1" role="dialog" aria-labelledby="modalNuevoPoetaLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevoPoetaLabel">Agregar Nuevo Poeta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!-- formulario para dar de alta al poeta -->
                <form #miFormulario="ngForm" (ngSubmit)="crearUsuario(miFormulario)">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Nombre del poeta" required (ngModelChange)="onChangeNombre()">
                        <div *ngIf="nombreError" class="alert alert-danger">{{nombreErrorMsg}}</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Email del poeta" required (ngModelChange)="onChangeEmail()">
                        <div *ngIf="emailError" class="alert alert-danger">{{emailErrorMsg}}</div>
                    </div>
                    <div class="form-group">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="contrasena" placeholder="Contraseña temporal del poeta" required (ngModelChange)="onChangeContrasena()">
                        <div *ngIf="contrasenaError" class="alert alert-danger">{{contrasenaErrorMsg}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm(miFormulario)">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

