<app-header></app-header>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card sombra_contenedor">
                    <div class="rounded-top text-white d-flex flex-row"
                        style="background-color: #4f48af; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKv72ODnHJ_e3H8oZuvEAIcYa5gbMCxgBtTg&usqp=CAU"
                                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                style="width: 150px; z-index: 1">
                            <button type="button" id="editar_perfil" class="btn btn-editar"
                                data-mdb-ripple-color="dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                style="z-index: 1;">
                                Editar perfil
                            </button>
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5 id="userName">Nombre</h5>
                            <p id="userEmail">Email</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">253</p>
                                <p class="small text-muted mb-0">Pomas</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">1026</p>
                                <p class="small text-muted mb-0">Reseñas</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Mis Poemas</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Ver mas</a></p>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This card has supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-2">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This card has supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This card has supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This card has supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-modal-user></app-modal-user>
<div style="position: relative; top: 20px;">
    <app-footer></app-footer>
</div>