    <app-header></app-header>

    <!-------- codigo principal-------------->
    <div class="card card-poema" *ngIf="poema">
        <div class="card-body">
            <h5 class="card-title">{{poema.titulo}}</h5>
            <p class="card-text p-3">{{poema.contenido}}</p>
            <button type="button" id="confirmar" class="btn btn-primary btn-poemas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Enviar Reseña</button>
        </div>
        <div class="card-footer card-footer-poemas">
            <small class="text-muted">Creado por <span style="font-weight:bolder">{{poema.usuario?.nombre}}</span></small>
            <small class="text-muted "> el día {{poema.fecha?.substr(0,10)}} a las {{poema.fecha?.substr(11,5)}} hr</small>
        </div>
    </div>

    <div class="resenas card card-poema" >
        <h2 style="padding: 5px">
            Comentarios
        </h2>
        <hr>
        <div class="contenedor-resenas">
        <ul>
            <li>
              <h3 style="font-weight: bolder; padding:5px">Nombre del autor</h3>
              <p style="padding:5px">Este es el comentario del autor</p>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
              </div>
            </li>
            
            <li>
                <h3 style="font-weight: bolder; padding:5px">Nombre del autor</h3>
                <p>Este es el comentario del autor</p>
                <div class="rating">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
              </li>

              <li>
              <h3 style="font-weight: bolder; padding:5px">Nombre del autor</h3>
              <p style="padding:5px">Este es el comentario del autor</p>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
              </div>
            </li>

            <li>
                <h3 style="font-weight: bolder; padding:5px">Nombre del autor</h3>
                <p>Este es el comentario del autor</p>
                <div class="rating">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
            </li>
            <!-- Agrega más elementos <li> para mostrar más comentarios -->
        </ul>
        </div>  
    </div>
    
    
    <!-------- formulario-------------->

    <app-modal-poemas [poemaId]="poema?.id"></app-modal-poemas>
    
    <!-------footer--------------->
    <app-footer></app-footer>
   
  

