.card-home {
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 450ms;
    box-shadow: 0px 1px 8px 0px #000000;
}
cite{
    font-weight: bolder;
}

.card-home:hover {
    position: relative;
    bottom: 15px;
    box-shadow: 5px 5px 5px 5px #49419152;
    transition: .5s;
    margin-top: 5px;
    margin-left: 5px;
}
.card-header {
    padding-left: 67px;
    background: #c8caeb;
    font-size: 16px;
    font-weight: bolder;
}
.btn_poema {
    background-color: #4f48af;
    color: white;
}

.btn_poema:hover {
    background-color: #5b69e9 !important;
    color: white !important;
}
.puntaje {
    color: rgb(48 46 46);
    font-size: 11px;
    padding-left: 8px;
}
.search-form {
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .search-form .form-row {
    display: flex;
    align-items: center;
  }
  
  .search-form .form-row > div {
    margin-right: 10px;
  }
  
  .search-form .form-row > div:last-child {
    margin-right: 0;
  }
  
  .search-form input[type="text"],
  .search-form select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-form button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-right: 40%;
    width: 100px;
  }
  
  .search-form button[type="submit"]:hover {
    background-color: #0069d9;
  }
  


@media(max-width:1050px) {
    .card-width {
        width: 350px;
    }
}


.page-item:active {
    background-color: red;
    
}
@media (max-width: 768px) {
    .search-form .form-row {
      flex-wrap: wrap;
    }
    
    .search-form .form-row > div {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }
    
    .search-form .form-row > div:last-child {
      margin-bottom: 0;
    }
  }
  