.navbar {
    padding-inline-start: 200px;
    padding-inline-end: 200px;
    box-shadow: 2px 2px 2px 2px rgba(53, 52, 52, 0.267);
}


.search-input {
    min-width: 95px;
}

.nav-min {
    min-width: 240px;
}



.shadow-nav {
    box-shadow: 0px 1px 8px 3px #000000;
}

.navbar_pad {
    padding-top: 22px;
}

input::placeholder {
    color: rgb(143, 124, 160) !important;

}
@media(max-width:767px) {
    .navbar_pad {
        position: relative;
        bottom: 10px;
    }

    .boton-header {
        position: relative;
        bottom: 5px;
    }

    .shadow-nav {
        padding: 10px 10px 10px;
    }
}
 .sombra_contenedor{
     box-shadow: 0px 0px 20px 8px;
 }
 .btn-editar{
     background-color: #4f48af;
     color: white
 }
 .btn-editar:hover {
     background-color: #5b69e9 !important;
     color: white !important;
 }

 .logo-profile{
     position: relative;
     top: 5px;
     font-size: 50px;
     color: #4f48af;
     cursor: pointer;
 }

 .modal-footer{
     display: block;
 }
 .modal-config{
     display:none;
 }
