
    <div>
        <nav class="navbar navbar-expand-md bg-light shadow-nav">
            <div class="container-fluid mb-3 ">
                <a class="navbar-brand navbar_pad" href="/"><img class="logo"
                        src="assets/img/3627782.png"> Mi
                    Poema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active navbar_pad" aria-current="page" href="#">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_pad" href="login">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Registrarse</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex navbar_pad" role="search">
                        <input class="form-control me-2 search-input " type="search" placeholder="Buscar"
                            aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <!-------- codigo principal-------------->
    <div class="card card-poema">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer card-footer-poemas">
            <small class="text-muted">Creado por Autor</small>
            <small class="text-muted  ">fecha</small>
        </div>
    </div>
    <!-------- formulario-------------->
    <div class="card-form">
        <div class="card p-2">
            <form>
                <div class="form-group m-lg-2">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                    <small id="emailHelp" class="form-text text-muted">Tu nombre será compartido con la
                        comunidad.</small>
                    <textarea maxlength="600" id="resena" placeholder="Escriba su comentario"></textarea>
                    <i class="fa-solid fa-star" style="cursor: pointer;" onclick="resenaPoema(this)" id="1estrella"></i>
                    <i class="fa-solid fa-star" style="cursor: pointer;" onclick="resenaPoema(this)" id="2estrella"></i>
                    <i class="fa-solid fa-star" style="cursor: pointer;" onclick="resenaPoema(this)" id="3estrella"></i>
                    <i class="fa-solid fa-star" style="cursor: pointer;" onclick="resenaPoema(this)" id="4estrella"></i>
                    <i class="fa-solid fa-star" style="cursor: pointer;" onclick="resenaPoema(this)" id="5estrella"></i>
                </div>
                <button type="button" id="confirmar" class="btn btn-primary btn-poemas" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" disabled>Enviar Reseña</button>
            </form>
        </div>
    </div>
    <!-------footer--------------->
    <div style="position: relative; top:50px">
        <app-footer></app-footer>
    </div>
    <!-- Modal -->
    <app-modal-poemas></app-modal-poemas>
    <!---------------------------->

