<div class="dropdown m-lg-5">
    <button class="btn btn-primary dropdown-toggle dropdown-home filtro" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Filtrar por
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item dropdown-item-home" href="#">Autor &nbsp;&nbsp;↑↓</a></li>
      <li><a class="dropdown-item dropdown-item-home" href="#">Título &nbsp;&nbsp;↑↓</a></li>
      <li><a class="dropdown-item dropdown-item-home" href="#">Mejores calificados</a></li>
      <li><a class="dropdown-item dropdown-item-home" href="#">Peores calificados</a></li>
      <li><a class="dropdown-item dropdown-item-home" href="#">Mas recientes</a></li>
    </ul>
  </div>