@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
input::placeholder{
    color: rgb(143, 124, 160) !important;

}

.modal-body-poema{
    height: 200px;
}

.black-star {
    color: black;
}
  
.yellow-star {
    color: yellow;
}
.mat-progress-spinner {
    position: relative;
    margin: 0 auto;
    display: block;
    
}

  