<app-header></app-header>
<app-dropdown></app-dropdown>
<div class="container">
  <div class="container text-center main">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <app-cards></app-cards>
      </div>
      <div class="col">
        <app-cards></app-cards>
      </div>
      <div class="col">
        <app-cards></app-cards>
      </div>
      <div class="col">
        <app-cards></app-cards>
      </div>
      <div class="col">
        <app-cards></app-cards>
      </div>
      <div class="col">
        <app-cards></app-cards>
      </div>
    </div>
  </div>
</div>
<app-page-navig-home></app-page-navig-home>
<app-footer></app-footer>